In [1]:
import pandas as pd
import numpy as np

In [17]:
data = {
   '영화' : ['명량', '극한직업', '신과함께-죄와 벌', '국제시장', '괴물', '도둑들', '7번방의 선물', '암살'],
   '개봉 연도' : [2014, 2019, 2017, 2014, 2019, 2012, 2014, 2017],
   '관객 수' : [1761, 1626, 1441, 1426, 1301, 1298, 1281, 1270], # (단위 : 만 명)
   '평점' : [8.88, 9.20, 8.73, 9.16, 8.62, 7.64, 8.83, 9.10]
}

In [18]:
# 개봉연도 -> 2014년도 글자 추가해서출력
## 개봉연도별관객수평균,최소,최대,합계 관객수를 구하시오.

df = pd.DataFrame(data)

In [19]:
df['개봉 연도'] = df['개봉 연도'].astype(str) + "년도"

df

          영화   개봉 연도  관객 수    평점
0         명량  2014년도  1761  8.88
1       극한직업  2019년도  1626  9.20
2  신과함께-죄와 벌  2017년도  1441  8.73
3       국제시장  2014년도  1426  9.16
4         괴물  2019년도  1301  8.62
5        도둑들  2012년도  1298  7.64
6    7번방의 선물  2014년도  1281  8.83
7         암살  2017년도  1270  9.10

In [ ]:
df.groupby('개봉 연도')['관객 수'].mean()
df.groupby('개봉 연도')['관객 수'].min()
df.groupby('개봉 연도')['관객 수'].max()
df.groupby('개봉 연도')['관객 수'].sum()

개봉 연도
2012년도    1298.000000
2014년도    1489.333333
2017년도    1355.500000
2019년도    1463.500000
Name: 관객 수, dtype: float64

In [27]:
# df.info()
# 관객수 천단위 표시를 해서 출력하시오.
# 함수를 사용해서 천단위 표시하시오.
# str타입으로 변경해서 출력해야함.
a = 1234
'천단위 표시 : {:,}'.format(a)
f'천단위 표시 {a:,}'

'천단위 표시 1,234'

In [ ]:
def change(data):
    return '{:,}'.format(data)

# 천단위 표시
# df['관객 수'] = df['관객 수'].apply(change)
# df

# df['관객 수'] = df['관객 수'].map('{:,d}'.format)

# 3. lambda
df['관객 수'] = df['관객 수'].apply(lambda x: )

ValueError: Cannot specify ',' with 's'.