In [1]:
import pandas as pd
import numpy as np

In [3]:
### 2개 dataFrame 합치기 , concat
df1 = pd.read_csv('data/2014년졸음운전교통사고.csv', encoding='euc-kr')
df2 = pd.read_csv('data/2015년졸음운전교통사고.csv', encoding='euc-kr')
df3 = pd.read_csv('data/2016년졸음운전교통사고.csv', encoding='euc-kr')

In [4]:
url = "https://race.kra.co.kr/dbdata/fileDownLoad.do?fn=internet/seoul/horse/20220501sdb1.txt&meet=1"

df = pd.read_csv(url, encoding='euc-kr',nrows=3, sep='\t')
df

  -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
0  마명              산지   성별 생년월일   나이 등급 조 조교사   마...
1  ----------------------------------------------...
2  가기만고당        한      거  2019/05/04  3   국6  48 ...