In [49]:
import pandas as pd
df = pd.read_csv('file/stock.csv', index_col='N')
df.index.name = "번호"

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 250 entries, 1 to 250
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   종목명     250 non-null    object
 1   현재가     250 non-null    object
 2   전일비     250 non-null    object
 3   등락률     250 non-null    object
 4   액면가     250 non-null    object
 5   시가총액    250 non-null    object
 6   상장주식수   250 non-null    object
 7   외국인비율   250 non-null    float64
 8   거래량     250 non-null    object
 9   PER     207 non-null    object
 10  ROE     202 non-null    float64
dtypes: float64(2), object(9)
memory usage: 23.4+ KB

In [5]:
df.columns

Index(['종목명', '현재가', '전일비', '등락률', '액면가', '시가총액', '상장주식수', '외국인비율', '거래량',
       'PER', 'ROE'],
      dtype='object')

In [ ]:
# 종목명 현재가 등락률 시가총액을 출력하시오.
# 10:20까지 출력하시오
# df[['종목명','현재가','등락률','시가총액']][10:20]

# columns 3:5 까지 추력하시오
# df[df.columns[3:6]][3:20]


# row 3:30까지 출력하시오.
# df[3:5]


#3 종목명을 가지고 역순정렬
# index 삭제후 종목명을 index 지정
# index 삭제
# df.reset_index(inplace=True)
# index 지정
# df.set_index("종목명",inplace=True)
# 정렬
df.sort_index(ascending=False,inplace=True)
df.head(10)
df[df.columns[[1,3,-1]]]

                       현재가     등락률    ROE
종목명
효성티앤씨              841,000  -4.21%  53.94
효성중공업               23,050  -2.12%   7.57
호텔신라                13,000  +1.01%   4.40
현대해상               138,300  +2.14%   5.09
현대차우                12,300  +0.70%    NaN
...                    ...     ...    ...
ACE 테슬라밸류체인액티브      19,010  +4.68%  15.35
ACE 미국나스닥100        83,100  +7.36%  27.43
ACE 미국S&P500        18,370  +1.30%    NaN
ACE 미국30년국채액티브(H)   20,200  +1.92%  19.65
ACE KRX금현물          22,850  +0.66%   6.95

[250 rows x 3 columns]

In [ ]:
# df - column 정보 출력, df.iloc df.iloc
df['현재가']
df[:][:5]
df.iloc[:3]

,번호,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE
종목명,,,,,,,,,,,
효성티앤씨,6,"841,000","하락37,000",-4.21%,"5,000","383,338","45,581",47.09,"150,543",17.92,53.94
효성중공업,168,"23,050",하락500,-2.12%,500,"18,315","79,458",9.54,"63,267",8.78,7.57
호텔신라,74,"13,000",상승130,+1.01%,"5,000","56,759","436,611",35.81,"944,005",15.15,4.40

In [ ]:
# df.info() # 현재가 타입 - object
df['현재가'][:3] #타입을 변경하려고함

## 숫자타입 변경시 
# 1.천단위 표시 제거를 해야 함.
# 2. str.replace(",","")
# 3. 타입변경 (astype(int))

df['현재가'] = df['현재가'].str.replace(",","").astype(int)
df['현재가'] # object

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 250 entries, 1 to 250
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   종목명     250 non-null    object
 1   현재가     250 non-null    int64
 2   전일비     250 non-null    object
 3   등락률     250 non-null    object
 4   액면가     250 non-null    object
 5   시가총액    250 non-null    object
 6   상장주식수   250 non-null    object
 7   외국인비율   250 non-null    float64
 8   거래량     250 non-null    object
 9   PER     207 non-null    object
 10  ROE     202 non-null    float64
dtypes: float64(2), int64(1), object(8)
memory usage: 23.4+ KB

In [58]:
### 최대값, 최소값, 상위5개 출력, 하위 5개 출력, 평균

df['현재가'].max()
df['현재가'].min()
df['현재가'].head()
df['현재가'].tail()
df['현재가'].mean()

np.float64(106748.388)

In [ ]:
#