In [36]:
#### 파일 import
import pandas as pd

#### 계
df = pd.read_excel("data/202412_202412_연령별인구현황_연간.xlsx", skiprows=3, 
                   usecols='B,E:O', index_col="행정기관", nrows=1)
df

#### 남자
m_df = pd.read_excel("data/202412_202412_연령별인구현황_연간.xlsx", skiprows=3, 
                   usecols='B,R:AB', index_col="행정기관", nrows=1)
m_df

#### 여자
w_df = pd.read_excel("data/202412_202412_연령별인구현황_연간.xlsx", skiprows=3, 
                   usecols='B,AE:AO', index_col="행정기관", nrows=1)
w_df

c:\python3\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\python3\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\python3\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,0~9세.2,10~19세.2,20~29세.2,30~39세.2,40~49세.2,50~59세.2,60~69세.2,70~79세.2,80~89세.2,90~99세.2,100세 이상.2
행정기관,,,,,,,,,,,
전국,"1,531,058","2,245,507","2,855,132","3,166,585","3,796,703","4,315,099","3,968,224","2,254,795","1,326,374","252,368","7,052"

In [37]:
## 컬럼명을 비교
df.columns # 컬럼명 '0~9세'
m_df.columns # 컬럼명 '0~9세.1'
w_df.columns # 컬럼명 '0~9세.2'

### 컬럼명으로 컬럼 출력
# df['0~9세']
# m_df['0~9세.1']
# w_df['0~9세.2']

### 컬럼명 변경
df.columns
m_df.columns = df.columns # 컬럼명 변경
w_df.columns = df.columns # 컬럼명 변경

w_df.columns

Index(['0~9세', '10~19세', '20~29세', '30~39세', '40~49세', '50~59세', '60~69세',
       '70~79세', '80~89세', '90~99세', '100세 이상'],
      dtype='object')

In [38]:
df['0~9세']
# m_df['0~9세']
# w_df['0~9세']

행정기관
전국      3,140,118
Name: 0~9세, dtype: object

### replace ,를 삭제(천단위삭제), 타입변경 : astype(int),

In [39]:
# df.describe()
# df.info()

# df['0~9세'] = df['0~9세'].str.replace(",","") # 천단위 삭제
# df['0~9세'] = df['0~9세'].astype(int) # 타입변경
df['0~9세'] = df['0~9세'].str.replace(",","").astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, 전국   to 전국
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   0~9세     1 non-null      int64
 1   10~19세   1 non-null      object
 2   20~29세   1 non-null      object
 3   30~39세   1 non-null      object
 4   40~49세   1 non-null      object
 5   50~59세   1 non-null      object
 6   60~69세   1 non-null      object
 7   70~79세   1 non-null      object
 8   80~89세   1 non-null      object
 9   90~99세   1 non-null      object
 10  100세 이상  1 non-null      object
dtypes: int64(1), object(10)
memory usage: 204.0+ bytes

In [ ]:
df.columns

# '10~19세' 천단위 삭제 int 변경
df['10~19세'] = df['10~19세'].str.replace(",","").astype(int)
df['10~19세']

<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, 전국   to 전국
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   0~9세     1 non-null      int64
 1   10~19세   1 non-null      int64
 2   20~29세   1 non-null      object
 3   30~39세   1 non-null      object
 4   40~49세   1 non-null      object
 5   50~59세   1 non-null      object
 6   60~69세   1 non-null      object
 7   70~79세   1 non-null      object
 8   80~89세   1 non-null      object
 9   90~99세   1 non-null      object
 10  100세 이상  1 non-null      object
dtypes: int64(2), object(9)
memory usage: 204.0+ bytes

In [46]:
### m_df 천단위 삭제, int 타입변경
# m_df.info()
m_df = m_df.T

In [48]:
m_df.head(2)

행정기관         전국
0~9세    1,609,060
10~19세  2,373,758

In [ ]:
## 축이 변경됨
## 컬럼별로 한번에 변경 가능 replace, astype  한번에 
# m_df['전국']


# m_df.columns
# m_df['전국  '] = m_df['전국  '].str.replace(",","").astype(int)
# m_df

# 컬럼명 1개 변경
m_df.rename(columns={"전국  ":"전국"},inplace=True)
m_df.columns

Index(['전국'], dtype='object', name='행정기관')

In [ ]:
df.set